apiVersion: argoproj.io/v1alpha1 # Ez mondja meg: "Hahó, ez egy ArgoCD parancs!"
kind: Application # Ez pedig: "Egy új alkalmazást akarok létrehozni."
metadata:
  name: mariadb-ha-cluster # Ez lesz a neve az ArgoCD listájában.
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://charts.bitnami.com/bitnami # "Menj el a Bitnami áruházba!"
    chart: mariadb # "Keresd meg a 'mariadb' nevű dobozt!"
    targetRevision: 19.1.1 # Ez a legfrissebb stabil MariaDB chart
    helm:
      values: |
        global:
          imageRegistry: public.ecr.aws
        image:
          registry: public.ecr.aws
          repository: bitnami/mariadb
          tag: 11.4.3-debian-12-r3
        architecture: replication # "Ne egy gépet kérjek, hanem egy klasztert!"
        auth:
          rootPassword: "SzuperErosJelszo123"
          database: suli_projekt
          replicationUser: replicator
          replicationPassword: "ReplicatorPassword123"
        primary:
          persistence:
            storageClass: "longhorn" # "A Longhornt használd tárolásra!"
            size: 2Gi
          service:
            type: LoadBalancer # Kintről elérhető írás
        secondary:
          replicaCount: 2 # "Két segédet (Slave-et) kérjek mellé!"
          persistence:
            storageClass: "longhorn"
            size: 2Gi
  destination:
    server: https://kubernetes.default.svc # "Ebbe a klaszterbe telepítsd!"
    namespace: default # "A 'default' névtérbe rakd a podokat!"
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
