apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mongodb-ha-cluster
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://charts.bitnami.com/bitnami
    chart: mongodb
    targetRevision: 15.6.21
    helm:
      values: |
        global:
          imageRegistry: public.ecr.aws

        # Kényszerítjük a fő szervizt
        service:
          enabled: true
          type: LoadBalancer
          # annotations:
          #   metallb.universe.tf/loadBalancerIPs: 192.168.2.234

        architecture: replicaset
        replicaCount: 3

        auth:
          rootPassword: "SzuperErosMongo123"
          usernames: ["suli_admin"]
          passwords: ["SzuperErosUserPass123"]
          databases: ["suli_adatok"]

        persistence:
          enabled: true
          storageClass: "longhorn"
          size: 2Gi

        resources:
          limits:
            memory: 512Mi
          requests:
            memory: 256Mi
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
