mysql:
  # --- ARCHITEKTÚRA ---
  # Ez a kapcsoló a lényeg! "replication" módban Master-Slave rendszert épít.
  architecture: replication

  # --- HITELESÍTÉS ---
  auth:
    rootPassword: "SzuperErosJelszo123"
    database: suli_projekt
    replicationUser: replicator
    replicationPassword: "ReplicatorPassword123"

  # --- MASTER (PRIMARY) BEÁLLÍTÁSOK ---
  primary:
    name: primary
    persistence:
      enabled: true
      storageClass: "longhorn" # A Longhorn adja a lemezt
      size: 2Gi
    resources:
      limits:
        memory: 512Mi  # Korlátozzuk, hogy ne ölje meg a VM-et

    # Külső elérés csak az ÍRÁSHOZ (Master)
    service:
      type: LoadBalancer

  # --- SLAVE (SECONDARY) BEÁLLÍTÁSOK ---
  secondary:
    name: secondary
    replicaCount: 2  # 2 db szolga legyen (így összesen 3 gépünk lesz: 1 Master + 2 Slave)
    persistence:
      enabled: true
      storageClass: "longhorn"
      size: 2Gi
    resources:
      limits:
        memory: 512Mi

  # --- METRICS (Hogy lássuk, mi történik - opcionális) ---
  metrics:
    enabled: false # Most kikapcsoljuk, hogy spóroljunk a RAM-mal
