name: Build and Push Images

on:
  push:
    branches: [ "main" ] # Akkor fut le, ha a main ágra pusholsz

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Ez kell ahhoz, hogy tudjon írni a Registry-be

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # BACKEND ÉPÍTÉSE ÉS TOLÁSA
      - name: Build and push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          # FIGYELEM: A neveket kisbetűvel kell írni!
          tags: ghcr.io/${{ github.repository_owner }}/lp-backend:latest

      # FRONTEND ÉPÍTÉSE ÉS TOLÁSA
      - name: Build and push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/lp-frontend:latest
